$primary: #305BF5;
$primary-light: #E9ECFC;
$secondary: #f85f43;
$accent: #CBCDDA;
$error: #F46060;
$warning: #eebb4d;
$info: #B5DEFF;
$success: #47bc6c;
$success-light: #C6F9D6;
$text-color: #1E1E1E;
$border: thin solid #D5D6DF;
$border-radius: 8px;

$font-lg: 20px;
$font-lg-line: 26px;
$font-regular: 16px;
$font-regular-line: 19px;
$font-sm: 14px;
$font-sm-line: 16px;
